.button{
	float:right;
}

.search{
	width:200px;
	height:30px;
	float:right;
	margin:20px;
	margin-right:0px;
	background-color:#FFF;
	display:inline;
}
.view-list{
	width:30px;
	height:30px;
	float:right;
	margin:20px;
	display:inline;
	background-color:#FFF;
	
}
.view-grid{
	width:30px;
	height:30px;
	float:right;
	margin:20px;
	display:inline;
	background-color:#FFF;

}

.farms-list ul{
	list-style:none;	
}
.farms-list ul li{
	list-style:none;	
}
.farmsItem{
	width: 100%;
	min-width: 640px;
	height: 265px;
	overflow: hidden;
	margin-bottom: 32px;
	cursor: pointer;
	text-align:center;
}


.inner-title{
	float:left;
}
.view-list{
	width:30px;
	height:30px;
	float:left;
	margin-right:5px;
	
}
.view-grid{
	width:30px;
	height:30px;
	float:left;
	margin-right:5px;
	
}
.inner-nav{
	width:100%;
	display:inline;
	margin:0 auto 25px;
	padding-top:18px;
	height:30px;
	clear:both;
}


.farmsItemDetail{
	widht:100%;
	height:100%;
	background-color:#FFF;

	
}

.farmsItemDetail .image{
	width:40%;
	height:100%;
	float:left;
	display:inline;
	background-color:#FFF;
	alignment-adjust:central;
	background:url(../images/farms/farms-pic.jpg);
	background-repeat:no-repeat;
}

.farmsItemDetail .image h3{
	margin:5px;
	padding:0px;
	text-align:left;

}

.farmsItemDetail .image .location{
	margin:5px;
	padding:0px;
	text-align:left;

}



.farmsItemDetail .content{
	width:60%;
	height:256px;
	float:left;
	display:inline;
	background-color:#FFF;

}

.farmsItemDetail .content .text{
	max-height:156px;
	height:156px;
	margin:10px;
}

.farmsItemDetail .content .text a{
	float:right;
	margin-right:10px;
}



.farmsItemDetail .content .text h3{
	float:right;
	margin:0;
	padding:0;
	margin-right:10px;
	margin-bottom:5px;
}


.farmsItemDetail .content .text p{
	z-index:2;
	width:100%;
	
}
.farmsItemDetail .content .pic-list{
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:15px;
	width:100%;
	
	
}


.farmsItemDetail .content .pic-list .pic{
	width:20%;
	height:auto;
	float:right;
	margin-bottom:0px;
	padding-bottom:0px;
	
}


.farmInfo{
	width:100%;
	text-align:center;
	margin:10px;
}
.farmInfo-img {
	width:100%;
    height:250px;
	
}
.farmInfo-disc{
	width:100%;
	margin:10px;
  margin-bottom:20px;
}
.farm-location{
	float:left;
	margin:10px;
	padding:5px;
}
.farm-favorite{
	float:right;
		margin:10px;
	padding:5px;
}
.product-list{
	width:100%;
	margin:10px;
	padding:5px;	
	display:block;
	
}
.product-list .title{
	}

.product-list ul{
	list-style:none;
	display:inline-block;
}
.product-list li{
	margin:20px;
	padding:5px;
	display:list-item;
	float:left;
	background-color:#FFF;
}
.productInfo{
}

.productInfo-handle{
	margin-top:-5px;
}
.productInfo-handle .left-text{
	float:left;
	margin-top:-5px;
}
.productInfo-handle .right-text{
	float:right;
	margin-top:-5px;
}

/*farm_grid page*/


.farms-grid-list {
	width:100%;
	margin-top:60px;
	padding:10px;
	}

.farms-grid-list ul {
	list-style:none;	
	}
	

.farms-grid-list ul li{
	list-style:none;
	}
.farmsItem-grid{
	width: 400px;
	overflow: hidden;
	cursor: pointer;
    display:inline;
	float:left;
	margin:20px;
	
}
.farmsItem-grid .image{
	width: 100%;
	height:256px;
	background:url(../images/farms/farms-pic.jpg);
	background-repeat:repeat;
}
.farmsItem-grid .content{
	width:100%;
	padding:2px;
	background-color:#FFF;
}

.farmsItem-grid .content h2{
	margin:0px;
	padding:0px;
}

.farmsItem-grid .content  h3{
	margin:0px;
	padding:0px;
	text-align:right;
}


