.forumList tbody{
	display:"";
}
thead{
	display:"";
}

.forumList thead tr {
   background-color:#d9d9d9 !important;
}
table{
	display:table !important;
}
table thead{
	font-size:24px;
	
}
table thead tr td{
	font-size:20px;
		color: #ffffff;
}
.forumList {
    background: none;
    display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.forumList tr {
    background-color: #f2f2f2;
}
.forumList tr td {
    padding: 12px 16px;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.alignCenter {
    text-align: center;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
table {
    border-collapse: collapse;
}
.forumInfo{
		-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.forumInfo thead tr td{
	background-color: #d9d9d9;
	color: #ffffff;
}
.forumInfo tbody{
	background-color: #f2f2f2;
}
.forumInfo tbody td{
	padding: 8px;
}
.forumList td{
	min-width: 64px;
}
.forumList .theme,
.forumList .reply,
.forumList .check,
.forumList .state{
    padding: 24px 12px;
}
.forumList .theme {
    width: 40%;
}
.forumList .reply {
    width: 10%;
}
.forumList .check {
	width:10%;
} 
.forumList .state {
    width: 40%;
}

.forumList .lighter,
.comments .lighter {
    background-color: #f6f6f6 !important;
}
select{
	width:20px !important;
	float:left !important;
	margin-right:20px !important;
	margin-left:10px !important;
}
.pageNav{
	display:inline-block;
}
.pageNav .button{
	width:30px;
	height:30px;
	margin: 20px 0;

}
.pageNav .button a{
		line-height: initial !important;
		padding:4px;
}
.topicList {
    background: none;
    display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.topicList td{
	min-width: 64px;
	min-height:100px;
}
.topicList .theme
.topicList .reply{
	padding: 24px 12px;
	min-height:100px;
}
.topicList .theme{
	width:20%;
	background-color:#F6F6F6;
}
.topicList .reply{
	width:80%;
}
.topicList .lighter,
.comments .lighter {
    background-color: #ebebeb !important;
}
.topicList tr {
    background-color: #f2f2f2;
	min-height:100px;
}
.topicList tr td {
    padding: 12px 16px;
		min-height:100px;
		height:200px;
		vertical-align:top;
}
.topicList tr td span{
	font-size:10px;
}
