.forum-table tbody{
	display:"";
	font-family:calibri, arial, sans-serif;
}
thead{
	display:"";
}

.forum-table thead tr {
   background-color:#d9d9d9 !important;
}
table{
	display:table !important;
}
table thead{
	font-size:24px;
	
}
table thead tr td{
	font-size:20px;
		color: #ffffff;
}
.forum-table {
	margin-bottom: 32px;
	margin-top: 32px;
	margin-left: 32px;
	margin-right: 32px;
	float: left;
	width: 60%;
    display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	background-color: white;
    display: inline-block;
    overflow: hidden;
    padding: 0 32px 32px;
    min-height: 128px;
}
#forum-statistics{
    width: 100%;
    font-size: 1.2em;
}
#forum-statistics-header {
	border-top: 0px solid #C1C1C1;
    padding: 15px;
}
.forum-statistics-sub-header{
	margin-top: 32px;
	margin-left: 32px;
	margin-right: 32px;
	float: left;
	width: 60%;
    display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    display: inline-block;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #d9d9d9;
}
#forum-statistics-statistics-body{
	margin-bottom: 32px;
}

.forum-statistics-sub-body{
	margin-left: 32px;
	margin-right: 32px;
	float: left;
	width: 60%;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
.forum-table tr {
    background-color: #f2f2f2;
}
.forum-table tr td {
    padding: 12px 16px;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.alignCenter {
    text-align: center;
}
.floatLeft {
    float: left;
}
.floatRight1 {
    float: right;
    height: 31px;
    width: 35px;
    margin-top: 4px;
    margin-left: 9px;
}
.floatRight1 a{
	padding: 0 10px;
    line-height: 35px;
    margin-top: -5px;
    padding-top: 4px;
}
table {
    border-collapse: collapse;
}
.forumInfo{
		-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.forumInfo thead tr td{
	background-color: #d9d9d9;
	color: #ffffff;
}
.forumInfo tbody{
	background-color: #f2f2f2;
}
.forumInfo tbody td{
	padding: 8px;
}
.forum-table td{
	min-width: 64px;
}
.forum-table .theme,
.forum-table .reply,
.forum-table .check,
.forum-table .state{
    padding: 24px 12px;
}
.forum-table .theme {
    width: 40%;
}
.forum-table .reply {
    width: 10%;
}
.forum-table .check {
	width:10%;
} 
.forum-table .state {
    width: 40%;
}

.forum-table .lighter,
.comments .lighter {
    background-color: #f6f6f6 !important;
}
select{
	width:20px !important;
	float:left !important;
	margin-right:20px !important;
	margin-left:10px;
    font-family:calibri, arial, sans-serif;
}
.pageNav{
	display:inline-block;
}
.pageNav .button{
	width:30px;
	height:30px;
	margin: 20px 0;

}
.pageNav .button a{
		line-height: initial !important;
		padding:4px;
}
.topicList {
    background: none;
    display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.topicList td{
	min-width: 64px;
	min-height:100px;
}
.topicList .theme
.topicList .reply{
	padding: 24px 12px;
	min-height:100px;
}
.topicList .theme{
	width:20%;
	background-color:#F6F6F6;
}
.topicList .reply{
	width:80%;
}
.topicList .lighter,
.comments .lighter {
    background-color: #ebebeb !important;
}
.topicList tr {
    background-color: #f2f2f2;
	min-height:100px;
}
.topicList tr td {
    padding: 12px 16px;
		min-height:100px;
		height:200px;
		vertical-align:top;
}
.topicList tr td span{
	font-size:10px;
}
.form-select{
	width: 200px !important;
    height: 30px;
    background-color: #f2f2f2;
    font-size:15px;
    margin-left:32px;
}
#ctools-jump-menu{
	float: left;
    margin-top: 0px;
}
#sort-topic-submit{
	font-size:15px;
	height: 28px;
    width: 50px;
    background-color: rgba(0,0,0,.4);
}
.forum-post{
	margin-left: 32px !important;
    margin-right: 32px !important;
    margin-top: 20px !important;
}
.post-by-starter{
	margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}
.comment-wrapper{
	margin-left: 32px;
    margin-right: 32px;
    border: 1px solid #C1C1C1;
}
.topic-reply-allowed{
	margin-left: 32px;
}
.topic-post-count{
	margin-right: 32px !important;
}
.form-text{
	border: 1px solid #ddd;
    min-width: 128px;
    margin-top:5px;
    height: 30px;
}
#comment-confirm-delete{
	border: 1px solid #ddd;
	margin-left: 32px;
    margin-right:32px;
    margin-top:32px;
    margin-bottom:32px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    font-family: simhei, arial, sans-serif;
}
#comment-confirm-delete input{
    margin-right:32px;
}
#comment-confirm-delete div{
	margin-left: 32px;
    margin-right:32px;
    margin-top:32px;
}
#edit-cancel{
	font-weight: bold;
    color: #ffffff;
    padding: 7px 24px !important;
    font-family: calibri, arial, sans-serif;
    background-color: #4d93e3 !important;
}
.form-item,
.ckeditor_links,
#edit-actions,
#edit-comment-body-und-0-format{
    margin-left: 10px;
    margin-right:10px;
    font-family: simhei, arial, sans-serif;
}
.ckeditor_links{
	margin-top:10px;
}
.fieldset-wrapper{
	margin-left:0px;
	margin-right:0px;
    font-family: simhei, arial, sans-serif;
}
.filter-guidelines-item{
	margin-left:-15px;
}
#edit-comment-body-und-0-format--2{
	margin-left:-24px !important;
}
.form-item-comment-body-und-0-format label{
	margin-top:10px;
    font-family: simhei, arial, sans-serif;
    font-size: 20px;
}
#comment-form{
	border: 1px solid #ddd;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 32px;
    margin-right: 32px;
}
.indented{
	margin-left:0px;
}
.forum-topic-legend{
	margin-left:32px;
	margin-right:32px;
}
h2 .title{
	margin-left:32px;
}