button,
fieldset,
form,
input,
legend,
textarea,
select {
    margin: 0;
    padding: 0
}
fieldset {
    border: 0
}
a,
a * {
    cursor: pointer;
    text-decoration: none;
}
div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left
}
hr,
img {
    border: 0
}
applet,
iframe,
object {
    border: 0;
    margin: 0;
    padding: 0
}
button,
input[type=button],
input[type=image],
input[type=reset],
input[type=submit],
label {
    cursor: pointer;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
#slider
{
	background-color: #cccccc;
	display: inline-block;
	text-align: center;
	width: 100%;
}
#slider img {
	height: calc(100vh - 256px);
    width: 100%;
}
* {
    border: 0;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: calibri, arial, sans-serif;
}
.currentSubPage {
    background-color: #dcdcdc;
}
.hidden {
    display: none;
}
.icon{
height: 1em;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.alignCenter {
    text-align: center;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.currentSubPage
{
	background-color: #dcdcdc;
}
.homenav {
    text-align: center;
    width: 100%;
}
.homenav .bigbutton {
    float: left;
    height: 192px;
    text-align: center;
    width: 20%;
}
.homenav .bigbutton h2 {
    margin-bottom: 0;
	width: 100%;
}
.homenav .bigbutton img {
    width: 128px;
}

.magazine
{
	width: 30%;
	background-color: #E6E6E6;
	float: left;
}
.mainmenu {
	font-weight: bold;
	height: inherit;
	z-index: 99999;
	overflow: hidden;
}
.mainmenu ul {
	height: inherit;
}
.mainmenu ul li {
	float: left;
	height: inherit;
	min-width: inherit;
	width: 12%;
	color: #4d4d4d;
	background-color: inherit;
	color: #000000;
}
.mainmenu ul li:hover
{
	min-width: inherit;
	background-color: #025196;
	color: #ffffff;
}

.mainmenu ul li a
{
	height: inherit;
	color: #000000;
	background-color: #ffffff;
}

.mainmenu ul li ul li
{
	height: inherit;
	color: #000000;
	background-color: #ffffff;
}

.mainmenu ul li:hover ul{
	display:block;
	width: 11%;
	border-left: 1px solid #025196;
	border-right: 1px solid #025196;
	border-bottom: 1px solid #025196;
	z-index:99;
	background-color: #ffffff;
	color: #000000;
	-webkit-transition-property: max-height;
}
.mainmenu ul li:hover ul li{
	width:100%;
	display:block;
	color: #ffffff;
	background-color: #000000;
	float: none;
	border:0px;
	max-height: 1024px !important;
	z-index:99;
	-webkit-transition-property: max-height;
	-webkit-transition-duration: 1.5s;
	-webkit-transition-timing-function: ease;
}
.mainmenu .loginMenu{
	height: inherit;
	padding: 16px;
	line-height: 1.5em;
	font-size: 0.75em;
}
nav ul
{
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	text-align: center;
}

nav ul li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 24px 0;
}
nav ul li a:hover {
	background-color: #025196;
	color:#ffffff;
	-webkit-transition-property: color, background-color;
	-webkit-transition-duration: 0.5s;-webkit-transition-timing-function: ease-out;
}
nav ul li ul{
	display:none;
	position:absolute;
	height: auto !important;
}
nav ul li ul li{
	width: 100%;
}
.newsItem {
	position: relative;
	width: 100%;
	min-width: 640px;
	max-height: 256px;
	overflow: hidden;
	background-color: #E6E6E6;
	margin-bottom: 32px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.newsItem p{
	margin: 0 8px;
}
.newsItem .dateBlock {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 0;
	top: 0;

	background-color: #4e93e3;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
	font-size: 1.5em;
	letter-spacing:0.05em;
	font-weight: bold;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.newsItem h2 {
	padding: 0 16px;
	margin: 8px 0;
	text-align: left;
	color: #4e93e3;
}
.newsItem img {
	min-width: 128px;
	max-width: 256px;
	float: left;
	margin-right: 16px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.newsItem p {
	padding: 0 16px 16px;
}
.newsItem .readMore {
	color: #4e93e3;
	text-decoration: underline;
	position: absolute;
	text-align: right;
	right: 40px;
}
.newsItem .readMore:hover {
	cursor: pointer;
}


.activeNavItem {
    background-color: #025196;
}
.activeNavItem a{
	color: white;
}

footer {
    background-color: #c5c5c5;
    display: inline-block;
}
footer .contact p{
	display: inline-block;
	padding: 16px 0;
}
footer .copyright {
    background-color: #b9b9b9;
    display: inline-block;
    text-align: center;
    width: 100%;
}
footer .copyright p {
    margin: 0;
}
footer .links {
    float: left;
    margin-left: 12.5%;
}
footer .links p {
    margin: 16px 0;
}
footer .social {
    float: right;
    margin: 16px 0;
    margin-right: 12.5%;
}
footer .social img {
    margin-left: 8px;
    width: 64px;
}
.sideNav
{
	float: left;
	font-size: 1.2em;
	min-width: 104px;
	width: 15%;
}
.sideNav ul li
{
	padding: 16px 0;
}
#sideNav {
    float: left;
    font-size: 1.2em;
    min-width: 104px;
    width: 20%;
}
header
{
	background-color: #ffffff;
	font-size: 1.5em;
	line-height: 0;
	margin: 0;
	padding: 0;
}
header .headerImg
{
	width: 100%;
}
header .logo
{
	float: left;
	height: 50px;
	min-width: 55px;
	padding: 0 32px;
}
header .logo a
{
	height: inherit;
}
header .logo img
{
	height: inherit;
}
header, main, footer
{
	width: 100%;
}
html, body
{
	height: 100%;
	margin: 0;
	min-width: 480px;
	padding: 0;
}
main
{
	background-color: #d2d2d2;
	width: 100%;
	overflow: hidden;
}
main > content
{
	background-color: #dcdcdc;
	display: inline-block;
	min-height: 400px;
	overflow: hidden;
	padding: 0 32px 32px;
	width: 85%;
	float: right;
}
main content .showcaseImg
{
	margin-bottom: 32px;
	width: 100%;
}
main content embed
{
	height: 480px;
	max-width: 854px;
	width: 100%;
}
main content h1, main content h2
{
	text-align: left;
}
h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
h1,
h2,
h3 {
	display: inline-block;
	line-height: inherit;
	margin-top: 5px;
}
.favLink {
	color: #4d93e3;
	text-decoration: none;
}
.schedule {
	background: none;
	display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.schedule tr {
	background-color: #e6e6e6;
}
.schedule tr td {
	padding: 12px 16px;
}
table {
	border-collapse: collapse;
}
.schedule td{
	min-width: 64px;
}
.schedule .hour,
.schedule .subject,
.schedule .progress {
	padding: 32px 16px;
}
.schedule .hour {
	width: 20%;
}
.schedule .subject {}
.schedule .progress {
	width: 20%;
}
.schedule .lighter,
.comments .lighter {
	background-color: #ebebeb !important;
}
.comment table {
	width: 100%;
}
.comment .profilePicture {
	width: 128px;
	padding: 16px;
}
.comments {
	overflow: hidden;
	background-color: #e6e6e6;
	margin: 16px 0;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.comments a {
	color: #4d93e3;
}
.comment table td {
	padding: 0 16px;
}
.comment table {
	height: 128px;
}
.comment * {
	vertical-align: top;
}
.comment {
	height: 128px;
}
.commenter {
	font-size: 1.5em;
	font-weight: bold;
	padding: 8px 16px 0 8px !important;
}
.comment img {
	display: inline-block;
	width: 112px;
	height: 112px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.w10{
	width: 10%;
}
.w20 {
    width: 20%;
}
.w22 {
	width: 22%;
}
.w25 {
    width: 25%;
}
.w30{
	width: 30%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w60 {
    width: 60%;
}
.w75 {
    width: 75%;
}
.w80 {
    width: 80% !important;
}
.w100 {
    width: 100%;
}
.paddingLeft{
	padding-left:32px;
}
.paddingRight{
	padding-right: 32px;
}
.marginLeft{
	margin-left: 32px;
}
.marginRight{
	margin-right:32px;
}
@media screen and (max-width: 720px)
{
	#slider {
		margin-bottom: 8px;
	}
	.homenav {} .homenav .bigbutton {
					width: 50%;
				}
	.mainmenu {
		background-color: #eeeeee;
		margin-bottom: 8px;
	}
	.mainmenu ul li {
		max-width: none;
		width: 50%;
	}

	#sideNav {
		width: 100%;
	}
	body {
		padding: 8px;
	}
	footer {
		margin-top: 8px;
	}
	header {
		margin-bottom: 8px;
		background: none;
	}
	header .logo {
		background-color: #eeeeee;
		float: initial;
		height: 64px;
		margin-bottom: 8px;
		padding: 0;
		text-align: center;
	}
	header .logo:hover {
		background-color: #dddddd;
	}
	main,
	main section {
		width: 100% !important;
	}
	video{
		width: 100% !important;
	}
	.schedule {
		width: 100% !important;
		margin-bottom: 16px;
		display: table;
	}
	h1,
	h2 {
		text-align: center;
	}
}
section {
	background-color: #dcdcdc;
	overflow: hidden;
	padding: 0 32px 32px;
	min-height: inherit;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
section .showcaseImg {
	margin-bottom: 32px;
	width: 100%;
}
section video {
	height: 378px;
	min-width: 672px;
	width: 100%;
	background-color: #000000;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.fav {
	text-align: center;
	right: 0;
	position: absolute;
	color: white;
	font-size: 1.2em;
	line-height: 64px;
	width: 64px;
	background-color: #4d93e3;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.headerBar {
	height: 64px;
	background-color: #eeeeee;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	overflow: hidden;
}
.headerImg {
	width: 100%;
}
.headerBar .logo {
	float: left;
	height: inherit;
	min-width: 64px;
}
.headerBar .logo a {
	height: inherit;
}
.headerBar .logo a img {
	height: inherit;
	padding: 8px;
}
.headerBar .logo a img:hover {
	background-color: #dddddd
}
header,
footer {
	width: 100%;
}
html,
body {
	height: 100%;
	margin: 0;
	min-width: 720px;
	padding: 0;
	background-color: #d2d2d2;
}
.bar .favLink {
	vertical-align: top;
	float: right;
	font-size: 1.2em;
}
.bar {
	width: 100%;
	height: 64px;
	line-height: 64px;
	overflow: hidden;
	vertical-align: middle;
	margin-bottom: 16px;
}
section input,
section select {
	float: right;
	height: 48px;
	margin: 12px 0 12px 4%;
	min-width: 128px;
	width: 22%;
	background-color: #e3e3e3;
	font-size: 1.1em;
}
.mainmenu input,
.bar input,
.bar select {
    float: right;
    height: 48px;
    margin: 12px 0 12px 4%;
    min-width: 128px;
    width: 22%;
    background-color: #e3e3e3;
    font-size: 1.1em;
}
.search {
    width: 22%;
	min-width: 256px;
}
.search input {
    width: calc(100% - 48px);
    margin: 9px 0;
}
.search a img {
    margin: 9px 0;
    width: 48px;
    height: 48px;
	background-color: #e3e3e3;
}
section {
	margin-bottom: 32px;
	margin-left: 20%;
}
section > #slider {
	text-align: center;
	max-height: 288px;
}
section > #slider img {
	width: 48%;
	max-height: inherit;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.block1 {
	width: 22%;
	background-color: #e6e6e6;
	position: relative;
	float: left;
	margin-right: 4%;
	margin: 16px 4% 16px 0;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.block1 img {
	width: 100%;
	height:158px;
}
.block1 span {
	display: inline-block;
}
.block1 .productName {
	font-size: 1.25em;
	margin: 0;
	display: block;
}
.wideBlock{
	position: relative;
	overflow: hidden;
	width:100%;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	position: relative;
	min-height:256px;
	margin-bottom: 32px;
}
.wideBlock .blockInformation{
}
.wideBlock .products{
	width:100%;
	line-height:0;
}
.wideBlock p{
	margin: 8px;
}
.wideBlock .blockTitle{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #4d93e3;
	padding: 8px;
}
.wideBlock .blockTitle *{
	color: #ffffff;
}
.wideBlock .products img{
	float: left;
	width: 23%;
	height:140px;
	margin:1%;
	border: 8px solid white;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);

}
.underline {
	text-decoration: underline;
}
.noMargin{
	margin: 0;
}
.noMarginRight {
	margin-right: 0 !important;
}
.fav {
	text-align: center;
	right: 0;
	position: absolute;
	color: white;
	font-size: 1.2em;
	line-height: 64px;
	width: 64px;
	background-color: #4d93e3;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
#section401{
	margin-left:20%; 
	float: left;
}

#section402{
	margin-left: 0;
	float:right;
}
.button {
	background-color: #4d93e3;
	line-height: inherit;
	height: 48px;
	margin: 12px 0;
	vertical-align: top;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.button a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display:block;
	padding: 0 24px;
	line-height: 48px;
}
p.product_price{ 
	margin: 0;
}
h3.product_title{
	margin-bottom: 0;
}
#block-search-form {
	width: 15%;
	height: inherit;
	padding-top: 5px;
	float: right;
}
#search-block-form input.form-text {
	float: left;
	width: 60%;
	height: 45px;
	border: 0;
	color: #4d4d4d;
	background-color: #e3e3e3;
	margin: 0;
}
#search-block-form input.form-submit {
	float: left;
    width: 48px;
    height: 45px;
    min-width: 48px !important;
    margin: 0;
    background-color: #e3e3e3;
	background: url(../images/icons/search_bar.png) no-repeat;
}
#user-login{
	margin: 0 auto;
	padding: 3%;
	margin-bottom: 32px;
	margin-top: 32px;
	margin-left: 30%;
	text-align: center;
	background-color: #dcdcdc;
    display: inline-block;
    overflow: hidden;
    min-height: 128px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	border: 0;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: calibri, arial, sans-serif;
	
}
#user-login div{
	overflow: hidden;
	margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: calibri, arial, sans-serif;
    padding: 3%;
    
}
#user-login div input{
	background-color: rgb(250, 255, 189);
	padding: 5%;
}

#user-register-form{
	margin: 0 auto;
	padding: 2%;
	margin-bottom: 32px;
	margin-top: 32px;
	margin-left: 20%;
	text-align: center;
	background-color: #dcdcdc;
    display: inline-block;
    overflow: hidden;
    min-height: 128px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	border: 0;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: calibri, arial, sans-serif;
}
#user-register-form div{
	overflow: hidden;
	margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: calibri, arial, sans-serif;
    padding: 0.5%;
    
}

#user-register-form div input{
	background-color: rgb(250, 255, 189);
	padding: 1%;
}
#edit-submit{
	font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0 24px !important;
    line-height: 35px;
    cursor: pointer;
    border: 0;
    box-sizing: border-box;
    font-family: calibri, arial, sans-serif;
    margin-top: -5px;
    background-color: #4d93e3 !important;
}
#edit-user-roles{
    background-color: rgb(250, 255, 189);
}


.homenav .bigbutton {
    float: left;
    height: 128px;
    text-align: center;
    width: 20%;
	opacity: 0.8;
	overflow: hidden;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	cursor: pointer;
	position:relative;
}
.homenav .bigbutton h2 {
	color:#f2f2f2;
	line-height: 128px;
	vertical-align: top;
	-webkit-transition: opacity .5s, -webkit-transform 0.3s;
	transition: opacity .5s, transform .3s;
	position: absolute;
	width: 60%;
	right: 0;
	text-align: center;
}
.homenav .bigbutton h3 {
	color:#f2f2f2;
	line-height: 128px;
	vertical-align: top;
	-webkit-transition: opacity .5s, -webkit-transform 0.3s;
	transition: opacity .5s, transform .3s;
	
}
.homenav .bigbutton .iconArea{
	width: 40%;
	min-width: 64px;
	height: 100%;
	min-height: 64px;
	text-align: right;
	position: absolute;
	left: 0;
	height: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 0;
}
.homenav .bigbutton .iconArea img {
    width: auto;
	height: 100%;
	-webkit-transition: opacity .5s, -webkit-transform 0.3s;
	transition: opacity .5s, transform .3s;
	position: relative;
}
.homenav .bigbutton:hover {
	opacity: 1;
}
.homenav .bigbutton:hover img{
	transform:scale(1.3,1.3);
}
.homenav .bigbutton:hover h2{
	color:#FFF;
	transform:scale(1.1,1.1);
}
.homenav .bigbutton:hover h3{
	color:#FFF;
	transform:scale(1.3,1.3);
}


.green{
	background-color: rgb(122,174,48);
}
.orange{
	background-color: rgb(204,151,38);
}
.red{
	background-color: #da251e;
}
.purple{
	background-color: rgb(168,82,187);
}
.blue{
	background-color: #025196;
}


.bar h1{
	color:#025196;
	float: left;
}
.bar a{
	color:#025196;
}
.bar .icon{
	height: 32px;
	width: 32px;
	margin: 16px;
	float: left;
}