html, body
{
	margin: 0;
	min-width: 480px;
	padding: 0;
	height: 100%;
}
*
{
	border: 0;
	box-sizing: border-box;
	color: #000000;
	font-family: calibri, arial, sans-serif;
}
header, main, footer
{
	width: 100%;
}
header
{
	background-color: #eeeeee;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	line-height: 0;
}
header .logo
{
	float: left;
	height: 64px;
	min-width: 64px;
	padding: 0 32px;
}
header .logo a
{
	height: inherit;
}
header .logo img
{
	height: inherit;
}
header .headerImg{
	width: 100%;
}
nav
{
}
nav ul
{
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	text-align: center;
}
.mainmenu
{
	font-weight: bold;
	line-height: 64px;
}
.mainmenu ul{
min-width: 480px;
}
.mainmenu ul li
{
	float: left;
	max-width: 180px;
	width: 25%;
}
.mainmenu ul li:hover
{
	background-color: #dddddd;
}
.mainmenu a
{
	color: #000000;
	text-decoration: none;
}
.mainmenu ul li:hover a
{
	color: #0fa5d9;
}
#slider
{
	background-color: #000000;
	display: inline-block;
	text-align: center;
	width: 100%;
}
#slider img
{
	max-height: 704px;
	max-width: 100%;
}
main
{
	background-color: #DDDDDD;
	width: 100%;
	overflow: hidden;
}
main > content{
	display: inline-block;
	width: 85%;
	overflow: hidden;
	padding: 32px;
	min-height: 400px;
	background-color: #EEEEEE;
}
main content h1, main content h2{
	text-align: right;
}
main content embed{
	float: left;
	width: 100%;
	max-width: 1280px;
}
.sideNav{
	float: left;
	width: 15%;
	font-size: 1.2em;
	background-color: #DDDDDD;
	min-width: 104px;
	display: block;
}
.sideNav ul li{
	padding: 16px 0;
}
.homenav
{
	text-align: center;
	width: 100%;
}
.homenav .bigbutton
{
	background-color: #eeeeee;
	float: left;
	height: 192px;
	text-align: center;
	width: 25%;
}
.homenav .bigbutton:hover
{
	background-color: #dddddd;
}
.homenav .bigbutton:hover h2
{
	color: #0fa5d9;
}
.homenav .bigbutton img
{
	width: 128px;
}
.homenav .bigbutton h2
{
	margin-bottom: 0;
}
footer
{
	background-color: #cccccc;
	display: inline-block;
}
footer .links
{
	float: left;
	margin-left: 12.5%;
}
footer .links p
{
	margin: 16px 0;
}
footer .social
{
	float: right;
	margin: 16px 0;
	margin-right: 12.5%;
}
footer .social img
{
	margin-left: 8px;
	width: 64px;
}
footer .copyright
{
	background-color: #aaaaaa;
	display: inline-block;
	text-align: center;
	width: 100%;
}
footer .copyright p
{
	margin: 0;
}

.push{
	bottom: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1919px)
{
}
@media screen and (min-width: 721px) and (max-width: 1023px)
{
}
@media screen and (max-width: 720px)
{
	body
	{
		padding: 8px;
	}
	header
	{
		background: none;
	}
	header .logo
	{
		background-color: #eeeeee;
		float: initial;
		height: 64px;
		margin-bottom: 8px;
		padding: 0;
		text-align: center;
	}
	header .logo:hover
	{
		background-color: #dddddd;
	}
	.mainmenu
	{
		background-color: #eeeeee;
		margin-bottom: 8px;
	}
	.mainmenu ul li
	{
		max-width: none;
		width: 50%;
	}
	#slider
	{
		margin-bottom: 8px;
	}
	.homenav
	{
	}
	.homenav .bigbutton
	{
		width: 50%;
	}
	footer
	{
		margin-top: 8px;
	}
}
