<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>XinXin</title>
	<meta content="XinXin" name="description">
	<meta content="Guus Putman" name="author">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/scripts.js" type="text/javascript">
	</script><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body onLoad="highlightCurrentSubPage(0)">
	<header>
		<div class="logo">
			<a href="index.html"><img alt="logo" src="images/icons/#"></a>
		</div>
		<nav class="mainmenu">
			<ul>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="news.html">News</a>
				</li>
				<li>
					<a href="#">Exhibition</a>
				</li>
				<li>
					<a href="#">Members</a>
				</li>
			</ul>
		</nav><img alt="header" class="headerImg" src="images/header/header1.jpg">
	</header>
	<main id="mainSection">
		<nav class="sideNav" id="sideNav">
			<ul>
				<li id="sideNavItem0" onClick="loadSubPage(0)">
					The Company
				</li>
				<li id="sideNavItem1" onClick="loadSubPage(1)">
					The Park
				</li>
			</ul>
		</nav>
		<content id="subPage0">
			<h1>An introduction to the company</h1>
			<div style="text-align:center">
			<embed src="http://player.youku.com/player.php/sid/XNzg3MDIzNTk2/v.swf" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis euismod nulla. Nunc sodales ac ipsum aliquet faucibus. Suspendisse potenti. Cras placerat tincidunt mauris, dapibus fringilla mi pretium laoreet. In eros ante, fringilla ac eleifend id, dapibus gravida libero. Aliquam in augue at urna scelerisque convallis eu quis magna. Fusce eget est sit amet lorem interdum sagittis. Sed quis nulla lacinia, iaculis nibh ut, condimentum libero. Etiam ullamcorper, arcu in luctus condimentum, lacus elit congue leo, eu fringilla sapien metus eget elit.</p>			
			<p>Morbi tristique condimentum purus eu iaculis. Praesent sodales massa ac eros consequat, et mattis nisi porta. Mauris pharetra in elit nec facilisis. Maecenas mi odio, interdum ut lorem eget, fermentum tincidunt magna. Cras a elementum eros. Suspendisse potenti. Aenean id sem tellus. Suspendisse in sem mauris. Aenean efficitur vestibulum enim nec lacinia. In massa nisl, luctus ac faucibus ac, posuere a elit. Proin accumsan a nunc a sagittis. Integer id neque sit amet felis feugiat placerat. Fusce iaculis nulla at nisl luctus congue.</p>			
			<p>Ut consequat nibh tincidunt, luctus neque sed, semper quam. Curabitur tortor quam, rutrum ac volutpat et, consequat vel risus. Phasellus et euismod nisi. Nam non dolor molestie, elementum nibh non, aliquam ipsum. Suspendisse vehicula nisi nec rutrum aliquet. Nunc in justo maximus, suscipit eros cursus, iaculis magna. Integer efficitur ornare leo, tincidunt dapibus ipsum pretium nec. Vivamus ornare risus ac feugiat sodales. Aliquam gravida pretium magna, sed pharetra dui luctus vel. Cras pellentesque vitae dui in posuere.</p>			
			<p>Phasellus non velit et lorem auctor ultricies sit amet a lacus. Ut in ligula quis mi pretium bibendum. Etiam vestibulum vitae tortor at cursus. Nunc dapibus magna nec tortor faucibus porttitor. Curabitur finibus mauris nec tortor feugiat porttitor. Vivamus imperdiet sapien sed lectus eleifend, accumsan tempor diam varius. Vestibulum ullamcorper mollis tortor quis elementum. Vestibulum lectus mi, porttitor a efficitur vitae, finibus vitae mi.</p>			
		</content>
		<content id="subPage1" class="hidden">
			<h1>Proudly presenting the park</h1>
			<img src="images/park/park1.jpg" class="showcaseImg"/>
			<img src="images/park/park2.jpg" class="showcaseImg"/>
			<img src="images/park/park3.jpg" class="showcaseImg"/>
			<img src="images/park/park4.jpg" class="showcaseImg"/>
		</content>
	</main>
	<footer>
		<div class="links">
			<p><a href="#">sdfsdf</a></p>
			<p><a href="#">sdfsdf</a></p>
			<p><a href="#">sdfsdf</a></p>
		</div>
		<div class="social">
			<a href="#"><img alt="qq" src="images/icons/qq.png"></a> <a href="#"><img alt="wechat" src="images/icons/wechat.png"></a> <a href="#"><img alt="weibo" src="images/icons/weibo.png"></a>
		</div>
		<div class="copyright">
			<p>Copyright 2016</p>
		</div>
	</footer>
</body>
</html>