@CHARSET "UTF-8";

.form-item-location-address{
	float: left;
	width: 50%;
}

.get_geolocation{
	float: left;
	margin-top: 90px;
	margin-left: 10px;
}


.form-item-location-lat, .form-item-location-lng{
	float: left;
	width: 35%;
}

/*
.form-item-location-lat label, .form-item-location-lng label{
	float: left;
	padding-top: 5px;
	margin-right: 3px;
}

.form-item-location-lat input, .form-item-location-lng input{
	float: left;
}
*/

.get_address{
	float: left;
	margin-top: 20px;
}


.poi_subtitle{
	font-weight: bold;
	color: #238EC6;
	display: block;
	margin-bottom: 4px;
}

img.poi_image{
	width: 250px;
	display: block;
	float: left;
}

.poi_content{
	float: left;
	display: inline-block;
	
	margin-left: 10px;
}

.poi-info{
	width: 400px;
	height: 180px;
}

.poi-info .form-submit{
	font-size: 90%;
}